.discord-status{
    margin-left: 0%;
    margin-right: 1%;
    width: 24%;
    background-color: rgba(17, 17, 17, 0.9);
    color: white;
    text-align: center;
    border-radius: 0px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discord-status img{
    width: 50%;
    margin-bottom: 20px;
}
.discord-status h2{
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.discord-status p{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Media query for tablets and smaller screens */
@media screen and (max-width: 768px) {
    .discord-status p{
        font-size: 10px;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .discord-status h2{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .discord-status img{
        width: 70%;
        margin-bottom: 15px;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .discord-status p{
        font-size: 8px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .discord-status h2{
        font-size: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .discord-status img{
        width: 90%;
        margin-bottom: 10px;
    }
}