.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75%;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.footer a{
    margin: 0 10px;
}

.footer p{
    color: #0000EE;
    text-decoration: underline;
}