.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75%;
    height: 75px;
    margin-bottom: 25px;
}

.footer a{
    margin: 0 10px;
}

.footer img{
    height: 100%;
}

.footer p{
    color: #0000EE;
    text-decoration: underline;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .footer p{
        font-size: 15px;
    }
    .footer img{
        height: 50%;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .footer p{
        font-size: 10px;
    }
    .footer img{
        height: 20%;
    }
}
