.welcome{
    margin-top:25px;
    width: 75%;
    background-color: rgba(24, 20, 20, 0.9);
    color: white;
    text-align: center;
}

.welcome p {
    font-size: 18px;
}

/* Media query for tablets and smaller screens */
@media screen and (max-width: 768px) {
    .welcome p {
        font-size: 12px;
    }
}
    
/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .welcome p {
        font-size: 8px;
    }
}