.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}